* {
    margin: 0%;
    padding: 0%;
}

body {

    background-image: url(LOGOS/IMG_3833.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    font-family: Barlow;
    overflow-x: hidden;
}

.banner {
    background-image: url(LOGOS/IMG_5313-Edit.jpg);
    background-position: center;
    border-radius: 11px;
    font-family: Barlow;
    background-size: contain;
    align-items: center;
    background-repeat: no-repeat;

}


.banner_2 {
    background-image: url(LOGOS/IMG_6389.jpg);
    background-size: cover;
    /* Ensure the image covers the entire container */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Don't repeat the image */
    height: 400px;
    /* Fixed height for the banner */
    color: white;
    /* Text color */
    display: flex;
    /* Use flexbox to center content */
    flex-direction: column;
    /* Stack text vertically */
    justify-content: center;
    /* Center the content vertically */
    align-items: center;
    /* Center the content horizontally */
    margin-top: 55px;
    /* Center the text */
    border-radius: 11px;
}

.banner_2 :hover {
    transform: scale(1.15);
    cursor: pointer;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffffff;
}

button {
    background: linear-gradient(45deg, #e7eff9, #cfd6e6);
    padding: 6px 44px;
    margin-left: 300px;
    display: inline-block;
    justify-content: center;
    border: none;
    border-radius: 75px;
    transition: all 0.4s ease 0s;
    font-size: 13px;
    position: relative;
    top: -79px;
}


.wwu-btn:hover {
    background: #000000;
    color: #cfd6e6;
    cursor: pointer;
    transform: scale(1.3);
}

.view-btn:hover {
    background: #000000;
    color: #cfd6e6;
    cursor: pointer;
    transform: scale(1.3);
}

.gallery {
    display: flex;
    gap: 13px;
    align-items: center;
    margin-left: 22px;
}

.card {
    position: relative;
    padding-right: 55px;
    padding-left: 12px;
    bottom: 36px;
    width: 260px;
    height: 280px;
    border-radius: 12px;
    transition: 1000ms all;
    transform-origin: centre left;
    outline: 8px;

    overflow: hidden;
}

.card img {
    height: 280px;
    object-fit: cover;
    border-radius: 4px;
    position: relative;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.card:hover figcaption {
    font-size: 0.6rem;
    position: absolute;
    height: 80px;
    width: 160px;
    display: flex;
    align-items: end;
    color: azure;
    left: 0px;
    bottom: 0px;
    padding-left: 12px;
    padding-bottom: 10px;
}

.card:hover~.card {
    font-weight: bold;
    cursor: pointer;
    transform: translateX(22px);
}

#Contact {
    font-size: larger;
    color: #ffffff;

}

.container1 {
    width: 100%;
    top: 0;
    left: 0;
    height: 3vh;
    padding: 27px 100px;
    background-color: transparent;
    background: linear-gradient(90deg, rgba(231, 230, 226, 1) 0%, rgba(159, 159, 159, 1) 47%, rgba(207, 214, 230, 1) 88%);
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 100;

}

.container3 {

    top: 0;
    left: 0;
    justify-content: space-between;
    font-size: 22px;
    background-color: transparent;
    z-index: 100;
    width: 80%;
    /* Adjust width as needed */
    max-width: 600px;
    /* Optional max width */
    padding: 75px;
    /* Optional padding */
    text-align: center;
    /* Optional: center text inside section */
}

.container3 h3 {
    text-align: center;
    color: #ffffff;

}

.container3 h3::after {
    content: '';
    display: block;
    height: 3px;
    width: 170px;
    background: #f9e665;

}

.services p {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    padding: 20px;
}

.services .col-md-3:hover {
    background: linear-gradient(45deg, #e7eff9, #cfd6e6);
    cursor: pointer;
    box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.4);
    transition: -5s;
}

.card1 {
    width: 300px;
    height: 333px;
    margin-right: 77px;
    margin-top: 5px;
}

.card1:hover .card-inner {
    transform: rotateY(180deg);
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front,
.back {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
    position: absolute;
}

.front {
    background: url(LOGOS/IMG_20F23.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px 40px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

}

.back {
    background: url(LOGOS/camera1.jpg);
    justify-content: flex-end;
    display: flex;
    padding: 40px 40px;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    transform: rotateY(180deg);
}

.front h2 {
    font-weight: 250;
    margin-bottom: 7px;
    margin-left: -122px;
}

.front p {
    color: #fff;
    font-size: 13px;
}

.back h2 {
    font-weight: 120;
    margin-bottom: 7px;
    margin-top: -122px;

}

.navbar {
    width: 100%;
    height: 7vh;
    display: flex;
    margin: 0;
    align-items: center;
    position: fixed;
    padding: 0;


}

.logo {
    position: fixed;
    height: auto;
    width: 220px;
    left: 0px;
    cursor: pointer;
}


a {
    text-decoration: none;
    color: #000000;
}

h1 {
    text-align: center;
    padding-top: 36px;
    font-size: 65px;
    margin: 20px 0px 20px;
    color: #f6f6f6;
}

span {
    color: #f9e665;
}

h2 {
    text-align: center;
    margin: 20px 10px 80px;
    color: #ffffff;
    font-size: 33px;

}

h5 {
    font-size: 42px;
}

.container2 h3 {
    color: #ffffff;

    font-weight: 300;
    display: flex;
    width: 80%;
    /* Adjust width as needed */
    max-width: 600px;
    /* Optional max width */
    padding: 20px;
    /* Optional padding */
    text-align: center;
    /* Optional: center text inside section */
}

.container2 .ContactInfo {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}

.container2 .ContactInfo .box {
    position: relative;
    padding: 20px 50px;
    display: flex;
}

.container2 .ContactInfo .box .icon {
    min-width: 50px;
    height: 50px;
    background: #7951AB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 32px;
}

.container2 .ContactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 22px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;

}

.container2 .ContactInfo .box .text h4 {
    font-weight: 300;
    color: #f9e665;
}

.social-icon {
    color: #fff;
}

nav {
    z-index: 1000;
    top: 0;
    left: 0;
    padding-left: 100px;
    flex: 1;
    top: 0;
    left: 0;
    width: 100%;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    justify-content: space-around;
    justify-content: center;

}

nav ul li a {
    position: relative;
    left: 120px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    padding-left: 80px;
}



.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover:before {
    width: 100%;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content {
    margin-left: 1%;
    margin-top: 1%;
}

content p {
    font-size: 30px;
    color: black;
}
